@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#1d1d1d] text-white;
  }
  .font-exo {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .font-orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
}

@layer components {
  #navbar {
    @apply fixed w-screen flex justify-center items-center p-12 z-20 top-0;

    h1 {
      @apply uppercase text-[18px];
    }
  }
  .globe {
    @apply w-screen h-screen overflow-hidden;
  }

  #footer {
    @apply fixed w-screen flex justify-center items-center flex-col p-12 z-20 bottom-0;
  }
}
