@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb; /* color base neutro */
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #1d1d1d; /* color de fondo base */
  color: #f5f5f5; /* color de texto base */
}

@layer base {
  .font-exo {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* puedes cambiar entre 100 y 900 */
    font-style: normal;
  }

  .font-orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* ajusta según tu diseño */
    font-style: normal;
  }
}

@layer components {
  #navbar {
    @apply fixed w-screen flex justify-center items-center p-12 z-20 top-0;
  }

  #footer {
    @apply fixed w-screen flex justify-center items-center flex-col p-12 z-20 bottom-0;
  }
}
